@import "global/base";

@include block(site-login) {
  overflow: auto;
  color: $white;
  min-height: 600px;
  background-color: $blue;

  @include element(container) {
    @include outer-container(400px);
    padding-top: 100px;
  }

  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      opacity: .8;
    }
  }

  @include element(input) {
    border-radius: 4px;
    font-size: 1.3em;
    outline: none;
    border: none;
    padding: 12px 24px;
    background-color: $blue-dark;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) inset;
    display: block;
    width: 100%;
    margin-bottom: 10px;

    @include placeholder {
      color: rgba($white, .7);
    }
  }

  @include element(button) {
    $border-width: 2px;
    border-radius: 4px;
    font-size: 1.3em;
    padding: (12px - $border-width) 24px;
    border: $border-width solid darken($positive, 12%);
    background-color: $positive;
    color: white;

    @include modifier(right) {
      float: right;
    }
  }
}
