<header class="site-header">
  <div class="site-header__left">
    <div class="site-header__left_logo site-logo">
      <span class="site-logo__primary-name">Git-Flow</span>
      <span class="site-logo__secondary-name">for GitHub</span>
      <span class="site-logo__beta-badge">Beta</span>
      <span class="site-logo__slogan">Available for Chrome and Safari.</span>
    </div>
  </div>

  <div class="site-header__right">
    <%= render partial: 'site/navigation' %>
  </div>
</header>
