<ul class="site-navigation">
  <li class="site-navigation__item"><a href="#features">Features</a></li>
  <li class="site-navigation__item"><a href="#how-it-works">How it works</a></li>

  <li class="site-navigation__spacer"></li>

  <li class="site-navigation__item"><a href="/login">Sign in</a></li>
</ul>
