<ul class="site-navigation">
  <li class="site-navigation__item">
    <a href="https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow/" target="_blank">
      About Git-Flow
    </a>
  </li>
  <li class="site-navigation__item"><a href="/#features"><%= t('site.nav.features') %></a></li>
  <li class="site-navigation__item"><a href="/#how-it-works"><%= t('site.nav.how_it_works') %></a></li>
  <% if Rails.env == 'development' # FIXME: Only shown in development, as the page is not styled yet. %>
    <li class="site-navigation__spacer"></li>

    <li class="site-navigation__item"><a href="<%= new_user_session_path %>"><%= t('site.nav.sign_in') %></a></li>
  <% end %>
</ul>
