<ul class="site-navigation">
  <li class="site-navigation__item">
    <a href="https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow/" target="_blank">
      About Git-Flow
    </a>
  </li>
  <li class="site-navigation__item"><a href="/#features"><%= t('site.nav.features') %></a></li>
  <li class="site-navigation__item"><a href="/#how-it-works"><%= t('site.nav.how_it_works') %></a></li>

  <li class="site-navigation__spacer"></li>

  <li class="site-navigation__item">
    <% if signed_in? %>
      <%= link_to t('site.nav.sign_out'), sign_out_path, method: :delete %>
    <% else %>
      <%= link_to t('site.nav.sign_in'), sign_in_path %>
    <% end %>
  </li>
</ul>
