<div class="site-hero">
  <div class="site-hero__container">
    <%= render partial: 'site/header' %>

    <div class="site-hero__screenshot">
      <!-- Screenshot here -->
    </div>
  </div>
</div>
