<% title(t('page.thank_you.title')) %>
<% set_meta_tags(noindex: true) %>
<div class="site-thank-you">
  <div class="site-thank-you__container">
    <%= render partial: 'site/header' %>

    <div class="site-thank-you__centered">
      <h1><%= t('page.thank_you.title') %></h1>
      <p><%= t('page.thank_you.lead') %></p>
    </div>
  </div>
</div>
