@import "global/base";

.page-container {
  @include outer-container;

  padding-left: 25px;
  padding-right: 25px;

  &.-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &.-with-top-margin {
    margin-top: 50px;
  }

  &.-with-bottom-margin {
    margin-bottom: 50px;
  }

  &.-with-margin {
    @extend .-with-top-margin;
    @extend .-with-bottom-margin;
  }
}
