@import "global/base";

@include block(site-thank-you) {
  min-height: 700px;
  padding: 50px 75px;

  color: $white;
  background: $blue url(image_path('site/bg-pattern.png'));
  @include retina-image(image_path('site/bg-pattern@2x.png'), 899px 394px);
  background-repeat: no-repeat;
  background-position: center bottom;

  @include clearfix;

  @include element(container) {
    @include outer-container;
  }

  @include element(centered) {
    padding-top: 150px;
    text-align: center;

    h1 {
      font-size: 72px;
      margin-bottom: 40px;
    }
    p {
      font-size: 24px;
      margin-top: 0;
    }
  }
}
