@import "global/base";

@include block(site-navigation) {
  padding: 0;
  list-style: none;

  @include element(item) {
    float: left;

    // Make sure that there's no padding at the beginning and end.
    &:first-child a {
        padding-left: 0;
    }
    &:last-child a {
        padding-right: 0;
    }

    a {
      font-size: 18px;
      font-weight: bold;
      padding: 5px 17px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: rgba($white, .8);
      }
    }
  }

  @include element(spacer) {
    position: relative;
    top: -4px;
    float: left;
    display: block;
    height: 30px;
    width: 1px;
    margin: 0 20px;
    background-color: rgba($white, .5);
  }
}
