@import "global/base";

@include block(site-logo) {
  display: inline-block;
  position: relative; // We want to position a link inside this.
  color: white;

  @include element(link) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include element(primary-name) {
    font-size: 24px;
    font-weight: bold;
  }

  @include element(secondary-name) {
    color: rgba($white, .5);
    font-size: 24px;
    font-weight: normal;
  }

  @include element(beta-badge) {
    position: relative;
    top: -12px;
    font-size: 8px;
    text-transform: uppercase;

    @include clearfix;
  }

  @include element(slogan) {
    color: rgba($white, .8);
  }
}
