@import "global/base";

@include block(site-how-it-works) {
  @include element(container) {
    @include outer-container;
    padding: 100px 0;
  }

  @include element(heading) {
    padding: 0 120px;
    @include element(icon) {
      float: left;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: -60px;
      margin-right: 20px;
      background-image: asset_data_url('site/icons/help.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  @include element(steps) {
    @include outer-container;

    @include element(step) {
      padding-left: 120px;

      @include span-columns(6);
      @include omega(2n);

      h3 {
        font-size: 1.5em;
      }
    }
  }
}
