@import "global/base";

.site-features {
  background-color: $black;
  background-image: url(asset_path('site/features-bg.jpg'));
  background-size: cover;
  background-position: center center;
  color: $white;

  > .container {
    @include outer-container;
    padding: 100px 0;
  }

  .heading {
    padding-left: (60px + 65px);
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 60px;

      position: absolute;
      left: 65px;
      top: -10px;

      background-image: asset_data_url('site/icons/features.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .features > .feature {
    @include span-columns(6);
    @include omega(2n);

    padding-left: (60px + 65px);
    margin-bottom: 40px;

    // Don't include the margin-bottom on the last 2 items
    &:nth-child(3), &:nth-child(4) {
      margin-bottom: 0;
    }

    .title {
      font-size: 1.5em;
      font-weight: normal;
      margin: 0;
      max-width: 95%;
    }

    .text {
      font-size: 1.125em;
      padding-right: 65px;
    }

    // Variate the color of the link to make it more readable
    .link {
      color: lighten($blue, 20%);
    }
  }
}
