@import "global/base";

.site-footer {
  > .container {
    @include outer-container;
  }

  // We have the top and bottom parts, divided as
  // variants.
  &.-top {
    padding: 0 50px;
    background-color: $wet-asphalt;

    .left {
      padding: 50px 0;
    }

    .right {
      padding: 50px 0;

      @include media($tablet) {
        padding: 0;
      }
    }
  }

  &.-bottom {
    padding: 40px 50px;
    font-size: 16px;
    color: rgba($white, .6);
    background-color: $midnight-blue;
    .left {
      max-width: 70vw;

      // Make sure that on tablet, it gets the full width.
      @include media($tablet) {
        max-width: none;
      }
    }
    .right {
      text-align: right;

      @include media($tablet) {
        text-align: left;
        margin-top: 20px;
      }

      a {
        color: rgba($white, .4);

        &:hover {
          color: rgba($white, .5);
        }
      }
    }
  }

  // There's a left side, and a right side.
  > .container > .left {
    float: left;

    @include media($tablet) {
      float: none;
    }
  }

  > .container > .right {
    float: right;

    @include media($tablet) {
      float: none;
    }
  }

  // Footer navigation
  .menu {
    float: left;

    @include media($tablet) {
      float: left;
      padding-bottom: 40px;
    }

    &:not(:last-child) {
      padding-right: 100px;
    }

    .title {
      text-transform: uppercase;
      color: rgba($white, 0.7);
      margin-bottom: 6px;
      margin-top: 0;
    }

    .navigation {
      list-style: none;
      margin: 0;
      padding: 0;

      > li a {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        color: rgba($white, .9);
        padding: 9px 0;

        &:hover {
          color: rgba($white, .6);
        }
      }
    }
  }
}
