@import "global/base";

.site-header {
  @include clearfix;

  margin-bottom: -1px; // iPad fix

  background-color: $blue;
  padding: 50px 75px;

  &.-skinny {
    padding: 25px 75px;
  }

  > .container {
    @include outer-container;
  }

  > .container > .left {
    float: left;
  }
  > .container > .right {
    float: right;
  }
}
