@import "global/base";

.site-hero {
  min-height: 600px;
  padding: 10px 75px 0;

  color: $white;
  background: $blue url(image_path('site/bg-pattern.png'));
  @include retina-image(image_path('site/bg-pattern@2x.png'), 899px 394px);
  background-repeat: no-repeat;
  background-position: center bottom;

  @include clearfix;

  > .container {
    @include outer-container;
  }

  > .container > .browser {
    @include span-columns(7);

    margin-top: 40px;

    // because there is some shadow in the image, we
    // want it to be aligned a bit more to the left.
    position: relative;
    left: -15px;

    min-height: 500px;

    background: url(image_path('site/browser.png')) no-repeat;
    background-position: center;
    background-size: contain;
    @include retina-image(image_path('site/browser@2x.png'));

    @include media($tablet) {
      @include media($tablet) {
        @include span-columns(5);
        margin-top: 0;
      }
    }
  }

  > .container > .lead {
    @include span-columns(5);
    margin-top: 90px;
    padding-left: 0;

    .title {
      font-size: 2.1em;
      margin-bottom: 10px;
    }

    .text {
      margin-top: 0;
      font-size: 1.4em;
    }

    @include media($tablet) {
      .text {
        font-size: 1.2em;
      }

      @include span-columns(7);
    }
  }

  > .container > .lead .form {
    margin-top: 100px;

    @include media($tablet) {
      margin-top: 50px;
    }

    > form > .input {
      border-radius: 4px;
      font-size: 1.3em;
      outline: none;
      border: none;
      padding: 12px 24px;
      background-color: $blue-dark;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) inset;
      width: 250px;

      @include placeholder {
        color: rgba($white, .7);
      }
    }

    > form > .submit {
      $border-width: 2px;
      border-radius: 4px;
      font-size: 1.3em;
      padding: (12px - $border-width) 24px;
      border: $border-width solid darken($positive, 12%);
      background-color: $positive;
      color: white;
    }

    > .error {
      display: inline-block;
      color: $negative;
      margin-top: 10px;
    }

    > .promise {
      display: inline-block;
      font-size: .8em;
      padding-top: 10px;
      color: rgba($white, .8);
    }
  }

}
