@import "global/base";

.site-how-it-works {
  > .container {
    @include outer-container;
    padding: 100px 0;
  }

  > .container > .heading {
    padding: 0 120px;
    > .icon {
      float: left;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: -60px;
      margin-right: 20px;
      background-image: asset_data_url('site/icons/help.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  > .container > .steps {
    @include outer-container;

    .step {
      padding-left: 120px;

      @include span-columns(6);
      @include omega(2n);

      .title {
        font-size: 1.5em;
        margin: 0;
      }

      &.-header-only {
        > .title {
          color: rgba($black, .2);
          padding-top: 15px;
        }
      }
    }
  }
}
