@import "global/base";

.site-thank-you {
  min-height: 700px;
  padding: 50px 75px;

  position: relative; // We want to position the bottom bar to be on the bottom
  color: $white;
  background: $blue url(image_path('site/bg-pattern.png'));
  @include retina-image(image_path('site/bg-pattern@2x.png'), 899px 394px);
  background-repeat: no-repeat;
  background-position: center bottom;

  @include clearfix;

  .container {
    @include outer-container;
  }

  .centered {
    padding-top: 150px;
    text-align: center;

    > .title {
      font-size: 72px;
      margin-bottom: 40px;
    }

    > .text {
      font-size: 24px;
      margin-top: 0;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba($white, .2);

    > .container > .share {
      padding: 10px 20px 20px 20px;
      text-align: center;

      > .callout {
        padding-right: 20px;
      }

      > .twitter {
        display: inline-block;
        position: relative;
        top: 5px;
      }

      > .facebook {
        display: inline-block;
      }
    }
  }

}
