@import "global/base";

.site-usps {
  .container {
    @include outer-container;
  }

  > .container > .usp {
    @include span-columns(6);

    position: relative;
    padding: 100px 65px 100px 125px;

    .text {
      font-size: 1.125em;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 105px;
      left: 60px;
      height: 60px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &.-secure:before {
      background-image: asset_data_url('site/icons/security.svg');
    }

    &.-open-source:before {
      background-image: asset_data_url('site/icons/public.svg');
    }
  }
}
